
footer {
    background-color: black;

        .mapaSitio{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    .pieDePagina__copyright{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #ffff;
    }

    .pieDePagina__redes{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
        img{
            border-radius: 50%;
            width: 45px;
            height: 45px;
        }
    }

