.mainGiftcard{
    display: flex;
    flex-direction: column;

    .mainGiftcard__descripcion{
        background-image: url(../multimedia/fondos/patronBlanco.png);
        margin: 30px 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .mainGiftcard__parrafo{
            background-color: lightyellow;
            text-align: center;
            font-size: 24px;
            font-family: 'Courgette', cursive;
            margin: 50px;
            padding: 20px 150px;
            span{
                background-color: brown;
                color: $colorCuatro;
                border-bottom-left-radius: 15%;
                border-top-right-radius: 15%;
            }
        }
        h1{
            background-color: lightyellow;
            padding: 25px 5px;
            font-family: 'Indie Flower';
            color: brown;
            font-size: $titulo;
        }
        
        button{
            background-image: linear-gradient(160deg, rgb(158, 133, 112), rgb(184, 163, 147), brown);
            padding: 15px;
            a{
                list-style-type: none;
                text-decoration: none;
                color: black;
                font-size: 12px;
            }
        }
    }
    .cajaProductos {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        }
    h5{
        font-size:$titulo ;
        font-family: 'Indie Flower';
        font-style: bold;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0px 10px;
        padding: 0px 40px;
    }
    img{
        width: 500px;
        height: 300px;
        border-radius: 10%;
        margin: 30px 20px;
        padding: 10px;
    }
}
.cajaProductos1{
    display: contents
}
.cajaProductos2{
    display: contents
}
.cajaProductos3{
    display: contents
}

