.miHeader{
    section{
        background-image: url(../multimedia/fondos/alfarero2.jpg);
        background-size: cover;
        background-repeat: repeat;
        background-position:center;
        h1{
            color:rgb(82, 43, 17);
            font-size: 35px;
            font-family: 'Source Code Pro', monospace;
            padding-left: 45px;
            padding-top: 30px;
        }
        img{
            margin: 46px;
            padding: -25px;
            padding-left: 43px;
            padding-bottom: 37px;
            border-radius: 50%;
            width: 181px;
            height: 215px;
        }
    }
    section nav div{
        background-color: rgb(158, 133, 112);
        padding: 0px;
        ul 
        {
            padding: 10px;
        }
        li{
            color:black ;
            font-size: 15px;
            li:hover{
                background-color: rgba(255, 145, 0, 0.726);
            }
        }
    }
    
    .bannerHeader{
        margin:0px;
        padding: 0px;
}
    .navbar{
        padding: 0px;
        margin:0px;
    }
    .barraNav{
        padding: 0px;
    }
}