.mainIndex{
    background-image: url(../multimedia/fondos/tazas_blanco.jpg);
    background-repeat: repeat;
    background-position: 100%;
    width: 100vw;
    height: auto;
    .seccionPrincipal {
        display: flex;
        justify-content: center;

        article{
            width: 100vw;
            display: flex;
            align-items: center;
            flex-direction: column;
            background-image: linear-gradient(80deg, rgb(158, 133, 112), rgb(184, 163, 147), rgb(216, 194, 181),rgb(184, 163, 147),rgb(158, 133, 112));
            margin: 0px;
            padding: 35px;
            }
        h3{
            font-family: 'Acme', sans-serif;
            font-size: 25px;
            margin: 10px;
            padding: 5px;
            }
        h5{
            font-family: 'Acme', sans-serif;
            font-size: 18px;
            margin: 5px;
            padding: 5px;
            }
        p{
            font-family: 'Indie Flower', cursive;
            color: black;
            font-size: 20px;
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 5px;
            padding: 5px 200px;

            span{
                color: rgb(255, 1, 1);
                background-color: black;
                border-bottom-left-radius: 30%;
                border-top-right-radius: 30%;
                text-decoration:solid;
                letter-spacing: 5px;
            }
                }
            }

        .mainCarousel{
            margin-top: 50px;
            img{
                border-radius: 20%;
            }
        }
        .finalDePagina{
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            align-items: stretch;
            margin: 40px 0px ;

            article{
                padding: 20px 10px;
                h2{
                    font-family: 'Acme', sans-serif;
                    font-size: 25px;
                    font-style: bold;
                    color: rgb(253, 253, 253);
                    padding-left: 30px;
                }
                iframe{
                margin: 30px 15px;
                width: 400px;
                height: 400px;
                border-radius: 5%;
                }
                
                textarea{
                    margin: 10px;
                    padding: 15px;
                    width: 400px;
                    height: 400px;
                    border-radius: 5%;
                }
                }
            }
}