main{
    background-image: url(../multimedia/fondos/patron-ceramica.png);
    section {
        article{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-evenly;
            background-image: linear-gradient(45deg, black, rgb(201, 201, 201), transparent);
            padding-top: 29px;
            padding-bottom: 53px;
            margin: 0px;
            }
        h3{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 25px;
            margin: 10px;
            padding: 5px;
            }
        h5{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 18px;
            margin: 5px;
            padding: 5px;
            }
        p{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: black;
            font-size: 16px;
            display: flex;
            flex-flow: row;
                }
            }
        }
    section {
        div{
            margin-top: 11px;
            margin-bottom: 36px;
            padding-top: 43px;
            padding-bottom: 43px;
            flex-wrap: nowrap;
            flex-direction: row;
            }
        }
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-items: stretch;
        margin: 10px;
        article{
            h3{
                font-size: 15px;
                font-style: bold;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-bottom: 5px;
            }
            iframe{
                margin: 30px 15px;
            }
        article{
            h2{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 15px;
                font-style: bold;
            }
            textarea{
                margin: 10px;
                padding: 15px;
            }
            }
        }
    }


