.mainNosotros{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
}    
    .mainNosotros__quienesSomos{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 39px;
        margin-top: 25px;
        h3{
            font-size: 4rem;
            font-family: 'Indie Flower';
            align-self: center;
            display: contents;
        }
        p{
            padding: 10px 93px;
            margin: 22px;
            font-size: 3rem;
            font-family: 'Dancing Script', cursive;
            span{
                color:aliceblue;
                background-color: brown;
                border-bottom-left-radius: 30%;
                border-top-right-radius: 30%;
            }
        }
    }
        .mainNosotros__fotoPareja{
            display: flex;
            justify-content: center;
            img{
                display: flex;
                align-items: center;
                width: 100vw;
                height: auto;
                padding: 100px 100px 20px 100px;
                border-bottom-left-radius: 50%;
                border-top-right-radius: 30%;
                }
        }
        .mainNosotros__letraCancion {
            h2{
                margin: 30px 0px;
                font-size: 16px;
                font-family: 'Source Code Pro', monospace;
                background-color: black;
                font-style: oblique;
                border-radius: 5%;
                color: $colorCuatro;
                }
            }
        .pieDePagina h4{
            font-family: 'Square Peg', cursive;
        }
@media screen and (max-width: 768px){
    .mainNosotros__fotoPareja{
        width: max-content;
        height: max-content;
        padding: 10px;
        margin: 0px;
    }
    .mainNosotros__quienesSomos{
        p{
            margin: 0px;
            padding: 5px;
            font-size: 2rem;
        }
    }
}