.miHeader{
    section{
        background-color: black;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
            h1{
                color: beige;
                font-size: 30px;
                font-style: italic;
                font-family: Georgia, 'Times New Roman', Times, serif;
                text-align: center;
                margin: 5px;
                padding: 8px;
                display: flex;
                justify-content: center;
            }
            img{
            margin: 20px;
            padding: 5px;
            border-radius: 50%;
            width: 150px;
            height: 164px;
            display: inline-block;
            }
    }
    section{
        nav{
            div{
                background-color: rgb(170, 170, 170);
                align-items: center;
                margin: 0px;
                padding: 0px;
                display:flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: flex-start;
                width: 100vw;
                    ul {
                        list-style-type: none;
                        li {
                            font-size: 18px;
                            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                            display: inline-block;
                            position: relative;
                            padding: 5px 10px;
                        li:hover{
                            color:rgb(55, 83, 172);
                        }
                            a {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
            }
        }
}    
}

.mainNosotros{
    display: grid;
    grid-template-areas: 
    "cancion foto "
    "cancion titulo "
    "cancion parrafo "
    "cancion video ";
    
    .letraCancion{
        grid-area: cancion;
        display: flex;
        align-items: center;
        transform: rotate(270deg);
    }
    .fotoPareja{
        grid-area: foto;
        text-align: center;
    }
    .quienesSomosTitulo{
        grid-area: titulo;
    }
    .quienesSomosParrafo{
        grid-area: parrafo;
    }
    .videoNosotros{
        grid-area: video;
    };
    grid-template-columns: 15% 85%;

    img{
        border-bottom-left-radius: 30%;
        border-top-right-radius: 30%;
        padding-top: 35px;
    }

    .mainNosotros__quienesSomos{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        h3{
            font-size: $letraNormal * 2;
            align-self: center;
            padding: 40px 0px;
        }
        p{
            font-size: 50px;
            font-family: 'Square Peg', cursive;
            span{
                color:aliceblue;
                background-color: brown;
                border-bottom-left-radius: 30%;
                border-top-right-radius: 30%;
            }
        }
    }
    .videoNosotros{
        margin: 30px 0px;
    }
}