.novedades{
    h1{
        font-size: $letraNormal * 4;
        display: flex;
        justify-content: center;
        color: $colorTres;
        font-family: 'Fascinate', cursive;
        margin-top: 20px;

        @keyframes ofertasTitulo {
            0%{
                font-size: 90px;
            }
            30%{
                font-size: 80px;
            }
            50%{
                font-size: 70px;
            }
            70%{
                font-size: 80px;
            }
            100%{
                font-size: 96px;
            }
        }
            animation-name: ofertasTitulo;
            animation-duration: 6s;
            animation-timing-function:linear;
            animation-iteration-count: infinite;
    }
    div{
        text-align: center;
        margin: 20px;
    img{
        display: inline-block;
        width: 300px;
        height: 300px;
        margin: 15px 10px;
        border-radius: 10%;
    }
}
}
