.mainProductos{
    background-color: #ffffff;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 34px;
        h2{
            @keyframes tituloTienda{
                0%{
                    font-size: 25px;
                }
                10%{
                    font-size: 30px;
                }
                20%{
                    font-size: 35px;
                }
                30%{
                    font-size: 40px;
                }
                40%{
                    font-size: 45px;
                }
                50%{
                    font-size: 50px;
                }
                60%{
                    font-size: 45px;
                }
                70%{
                    font-size: 35px;
                }
                80%{
                    font-size: 30px;
                }
                90%{
                    font-size: 25px;
                }
            }
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color:rgb(156, 11, 11);
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            animation-name: tituloTienda;
            animation-duration: 4s;
            animation-delay: 1s;
            animation-timing-function:linear;
            animation-iteration-count: infinite;
        }
        img{
            background-color: rgb(94, 91, 91);
            padding: 5px;
            width: 250px;
            height: 250px;
            column-gap: 20px;
            row-gap: 20px;
            border-radius: 50%;
            margin: 5px;
            padding: 6px;
        }
}




