* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}

@import "variables";
@import "header";
@import "index";
@import "nosotros";
@import "tienda";
@import "contacto";
@import "novedades";
@import "giftcard";
@import "footer";
@import "mediaq";
