* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* INDEX */
/* encabezado */
.encabezado {
    background-color: black;
    background-size: cover;
    text-align: center;
}

.titulo_principal {
    color: beige;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 5px;
    padding: 8px;
}

.header_logo {
    margin: 0px;
    padding: 10px;
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    justify-content: center;
}

/* menú*/
.navegacion {
    background-color: lightgray;
    align-items: center;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    position: relative;
    padding: 5px 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

/*main*/

.mainIndex {
    display: flex;
    align-items: center;
    background-color: rgb(202, 202, 202);
    margin: 10px -2px 14px 12px;
    padding: 22px 47px;
}

.presentacion__titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 10px;
    padding: 5px;
}

.presentacion__subtitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}

.presentacion__parrafo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    display: flex;
    flex-flow: row;
}

/* sección productos*/

.productos {
    background-color: rgba(219, 213, 213, 0.836);
    margin: 10px;
    padding: 20px;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        "caja1 caja2 caja3"
        "subtitulo1 subtitulo2 subtitulo3"
        "descripcion1 descripcion2 descripcion3"
    ;
}

/* producto caja 1*/
.productoCaja1 {
    grid-area: caja1;
}

.productosCaja1__título {
    grid-area: subtitulo1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(165, 76, 2);
    margin: 5px;
}

.descripcion1 {
    grid-area: descripcion1;
}

/* producto caja 2*/
.productoCaja2 {
    grid-area: caja2;

}

.productosCaja2__título {
    grid-area: subtitulo2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(165, 76, 2);
    margin: 5px;
}

.productos p {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
}

.descripcion2 {
    grid-area: descripcion2;
}

/* producto caja 3*/
.productoCaja3 {
    grid-area: caja3;
}

.productosCaja3__título {
    grid-area: subtitulo3;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(165, 76, 2);
    margin: 5px;
}

.descripcion3 {
    grid-area: descripcion3;
}

/*tamaño de las imagenes*/
.imagenCazuelaCuadrada {
    max-width: 200px;
    max-height: 300px;
}

.imagenMatesPersonalizados {
    max-width: 200px;
    max-height: 300px;
}

.imagenFuenteOvalada {
    max-width: 200px;
    max-height: 300px;
}

/*sección final de página*/
.finalDePagina {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mapa {
    margin: 30px 15px;
}

.mapaTitulo {
    font-size: 15px;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
}

.comentarios {
    margin: 10px;
    padding: 15px;
}

.comentariosCaja {
    margin-top: 10px;
}

.comentariosTitulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-style: bold;
}

/*   */

/*footer*/
footer {
    background-color: black;
}

.pieDePagina ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;
    padding: 5px;
    text-align: center;
    list-style-type: none;
}

.pieDePagina li {
    color: antiquewhite
}




/*      NOSOTROS             */
.quienesSomosTitulo {
    display: inline-block;
    background-color: none;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.quienesSomosParrafo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 30px;
}

.videoNosotros {
    margin: 15px;
    padding: 15px 20px;
}


/*  TIENDA  */
.mainProductos {
    display: grid;
    grid-template-areas:
        "imagen1 imagen1 imagen2"
        "imagen3 imagen4 imagen4";
    margin: 10px;
    padding: 5px;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: center;
    align-content: stretch;
    margin: 10px;
    padding: 5px;
}

/*grid area*/
/* NO PUDE CAMBIAR EL TAMAÑO DE LAS IMÁGENES NI ACOMODARLAS PARA QUE QUEDE BIEN EL DISEÑO...*/
.imagen1 {
    grid-area: imagen1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.imagen2 {
    grid-area: imagen2;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    align-content: center;
}

.imagen3 {
    grid-area: imagen3;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.imagen4 {
    grid-area: imagen4;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    align-content: center;
}

/* CONTACTO*/
.mainContacto {
    background-image: url("../imagenes/mondrian.jpg");
}

.formulario {
    background-color: rgb(202, 202, 202);
    margin: 32px 560px 54px 36px;
    padding: 35px 38px;
    font-size: 18px;
    display: flex;
    flex-direction: column;

}

.formularioTitulo div {
    margin: 15px;
    padding: 10px;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: flex-start;
    position: relative;
    margin: 10px;
    padding: 40px;

}

/*   NOVEDADES    */
.novedadesOfertas__titulo {
    font-size: 50px;
}

/*      GIFTCARD       */
.cajaProductos {
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-rows: repeat(3, 250px);
    grid-template-areas:
        "tarjeta1  imagen1"
        "tarjeta2  imagen2"
        "tarjeta3  imagen3"
    ;
}

.cajaProductos h5 {
    color: blue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px;

}

.tarjeta1 {
    grid-area: tarjeta1;
}

.tarjeta2 {
    grid-area: tarjeta2;
}

.tarjeta3 {
    grid-area: tarjeta3;
}

.imagen1 {
    grid-area: imagen1;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.imagen2 {
    grid-area: imagen2;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.imagen3 {
    grid-area: imagen3;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}



@media screen and (max-width: 1020px) {
    .navegacion {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mainIndex {
        background-color: rgb(202, 202, 202);
        margin: 5px;
    }

    .presentacion__titulo {
        font-size: 2rem;
    }

    .presentacion__subtitulo {
        font-size: 1.5rem;
    }

    .presentacion__parrafo {
        font-size: 1rem;
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
    }

    .finalDePagina {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* pagina gift*/


@media screen and (max-width: 900px) {
    .navegacion {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .mainGiftcard {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-around;
    }
    .finalDePagina {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cajaProductos{
        display: grid;
        grid-template-columns: 99px 179px;
        grid-template-rows: repeat(3, 135px);
        grid-template-areas:
            "tarjeta1 imagen1"
            "tarjeta2 imagen2"
            "tarjeta3 imagen3";
    }
    .imagen1{
        display: flex;
        align-items: center;
        width: 23vw;
        height: 19vh;
    }
    .imagen2{
        display: flex;
        align-items: center;
        width: 23vw;
        height: 19vh;
    }
    .imagen3{
        display: flex;
        align-items: center;
        width: 23vw;
        height: 19vh;
    }
}

@media screen and (max-width: 480px) {

    .navegacion {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mainIndex {
        background-color: rgb(202, 202, 202);
        margin: 2px 10px;
        padding: 10px;
    }

    .presentacion__parrafo {
        font-size: 1rem;
    }

    .productos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .finalDePagina {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .mapa {
        width: 50vw;
    }

    .comentarios {
        width: 50vw;
    }

    .footer {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

.mainGiftcard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}
.cajaProductos{
    display: grid;
    grid-template-columns: 99px 179px;
    grid-template-rows: repeat(3, 135px);
    grid-template-areas:
        "tarjeta1 imagen1"
        "tarjeta2 imagen2"
        "tarjeta3 imagen3";
}
}