* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}

/* INDEX */
/* encabezado */
.encabezado {
    background-color: black;
    background-size: cover;
    text-align: center;
    height: 250px;
    display: flex;
    justify-content: center;
}

.titulo_principal {
    color: beige;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 5px;
    padding: 8px;
}
.miHeader{
    display: flex;
    justify-content: center;
}
.header_logo {
    margin: 20px;
    padding: 5px;
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;

}

/* menú*/

.navegacion {
    background-color: rgb(202, 202, 202);
    align-items: center;
    margin:0px;
    padding: 0px;
}

.miNav{
    margin:10px;
    padding: 0px;
}
.miMenu{
    margin:0px;
    padding: 0px;
}
.menu ul {
    list-style-type: none;

}

.menu li {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    position: relative;
    padding: 5px 10px;
}

.menu li a {
    text-decoration: none;
    color: black;
}

/*main*/

.mainIndex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-image: linear-gradient(45deg, black, rgb(201, 201, 201),  transparent);
    padding-top: 29px;
    padding-bottom: 53px;
    margin:0px;
}

.manosBarro{
    display:inline-block;
    width: 50vw;
    height: 50vh;
}
.presentacion__titulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 10px;
    padding: 5px;
}

.presentacion__subtitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
}

.presentacion__parrafo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 16px;
    display: flex;
    flex-flow: row;
}
.videoNosotros{
    padding: 50px;
    display:flex;
    flex-wrap: wrap;
}

/* sección productos*/

.productos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    margin-top: 11px;
    margin-bottom: 36px;
    padding-top: 43px;
    padding-bottom: 43px;
    flex-wrap: wrap;
    flex-direction: row;
}
.productos img{
    display:flex;
    justify-content: center;
    margin: 55px;
    padding: 5px;
}


.productos p{
    display: flex;
    justify-content: flex-start;
    margin:0px;
    padding: 25px;
}
/* producto caja 1*/


.productosCaja1__título {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(165, 76, 2);
    margin: 5px;
}


/* producto caja 2*/


.productosCaja2__título {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(165, 76, 2);
    margin: 5px;
}
.productos h4{
    margin-left: 66px;
    margin-right: 69px;
}
.productos p {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-left: 40px;
    margin-right: 10px
}

/* producto caja 3*/

.productosCaja3__título {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: rgb(165, 76, 2);
    margin: 5px;
}

/*tamaño de las imagenes*/
.imagenCazuelaCuadrada {
    max-width: 200px;
    max-height: 300px;
}

.imagenMatesPersonalizados {
    max-width: 200px;
    max-height: 300px;
}

.imagenFuenteOvalada {
    max-width: 200px;
    max-height: 300px;
}

/*sección final de página*/
.finalDePagina {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 10px;
}

.mapa {
    margin: 30px 15px;
}

.mapaTitulo {
    font-size: 15px;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 5px;
}

.comentarios {
    margin: 10px;
    padding: 15px;
}

.comentariosCaja {
    margin-top: 10px;
}

.comentariosTitulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-style: bold;
}

/*   */

/*footer*/
footer {
    background-color: black;
}

.pieDePagina ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    list-style-type: none;
}

.pieDePagina li {
    color: antiquewhite
}




/*      NOSOTROS             */
.quienesSomosTitulo {
    background-color: none;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    
    flex-wrap: wrap;
    margin:20px;
    padding:20px;
}

.quienesSomosParrafo {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: 30px;
    display: flex;
    justify-items: center;
}

/*  TIENDA  */
.mainProductos {
    margin: 10px;
    padding: 5px;
    justify-content: space-evenly;
    align-items: stretch;
    justify-items: center;
    align-content: stretch;
    margin: 10px;
    padding: 5px;
}

.imagen1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.imagen2 {

    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    align-content: center;
}

.imagen3 {

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.imagen4 {

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    align-content: center;
}

/* CONTACTO*/
.mainContacto {
    background-image: url("../imagenes/mondrian.jpg");
}

.formulario {
    background-color: rgb(202, 202, 202);
    margin: 32px 560px 54px 36px;
    padding: 35px 38px;
    font-size: 18px;
    display: flex;
    flex-direction: column;

}

.formularioTitulo div {
    margin: 15px;
    padding: 10px;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: flex-start;
    position: relative;
    margin: 10px;
    padding: 40px;

}

/*   NOVEDADES    */
.novedadesOfertas__titulo {
    font-size: 50px;
}

/*      GIFTCARD       */

.cajaProductos h5 {
    color: blue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px;

}

.imagen1 {

    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.imagen2 {

    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.imagen3 {

    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

