* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.miHeader section {
  background-image: url(../multimedia/fondos/alfarero2.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center; }
  .miHeader section nav div li {
    font-weight: bold;
    font-size: 20px;
    font-family: cursive; }
  .miHeader section h1 {
    color: #522b11;
    font-size: 35px;
    font-family: 'Source Code Pro', monospace;
    padding-left: 45px;
    padding-top: 30px; }
  .miHeader section img {
    margin: 46px;
    padding: -25px;
    padding-left: 43px;
    padding-bottom: 37px;
    border-radius: 50%;
    width: 181px;
    height: 215px; }

.miHeader section nav div {
  background-color: #9e8570;
  padding: 0px; }
  .miHeader section nav div ul {
    padding: 10px;
    column-gap: 10px; }
  .miHeader section nav div li {
    color: black;
    font-size: 20px;
    font-family: 'Indie Flower'; }

.miHeader .bannerHeader {
  margin: 0px;
  padding: 0px; }

.miHeader .navbar {
  padding: 0px;
  margin: 0px; }

.miHeader .barraNav {
  padding: 0px; }

.mainIndex {
  background-image: url(../multimedia/fondos/tazas_blanco.jpg);
  background-repeat: repeat;
  background-position: 100%;
  width: 100vw;
  height: auto; }
  .mainIndex .seccionPrincipal {
    display: flex;
    justify-content: center;
    padding: 0px; }
    .mainIndex .seccionPrincipal article {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-image: linear-gradient(80deg, #9e8570, #b8a393, #d8c2b5, #b8a393, #9e8570);
      background-image: cover;
      padding: 60px; }
    .mainIndex .seccionPrincipal h3 {
      font-family: 'Indie Flower';
      font-size: 48px;
      margin: 10px;
      padding: 5px; }
    .mainIndex .seccionPrincipal h5 {
      font-family: 'Indie Flower';
      font-size: 34px;
      margin: 5px;
      padding: 5px; }
    .mainIndex .seccionPrincipal p {
      font-family: 'Indie Flower', cursive;
      color: black;
      font-size: 20px;
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 5px;
      padding: 5px 200px; }
      .mainIndex .seccionPrincipal p span {
        color: white;
        background-color: black;
        border-bottom-left-radius: 30%;
        border-top-right-radius: 30%;
        text-decoration: solid;
        letter-spacing: 5px; }
  .mainIndex .mainCarousel {
    margin-top: 50px; }
    .mainIndex .mainCarousel img {
      border-radius: 20%; }
  .mainIndex .finalDePagina {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
    align-items: center; }
    .mainIndex .finalDePagina article {
      padding: 20px 10px; }
      .mainIndex .finalDePagina article h2 {
        font-family: 'Acme', sans-serif;
        font-size: 25px;
        color: #fdfdfd;
        padding-left: 30px; }
      .mainIndex .finalDePagina article iframe {
        margin: 30px 15px;
        width: 400px;
        height: 400px;
        border-radius: 5%; }
      .mainIndex .finalDePagina article textarea {
        margin: 10px;
        padding: 15px;
        width: 400px;
        height: 400px;
        border-radius: 5%; }

@media screen and (max-width: 768px) {
  .presentacion {
    margin: 10px;
    padding: 5px; }
    .presentacion h3 {
      font-size: 16px; }
    .presentacion h5 {
      font-size: 12px; } }

.mainNosotros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px; }

.mainNosotros__quienesSomos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 39px;
  margin-top: 25px; }
  .mainNosotros__quienesSomos h3 {
    font-size: 48px;
    font-family: 'Indie Flower';
    align-self: center;
    display: contents; }
  .mainNosotros__quienesSomos p {
    padding: 10px 93px;
    margin: 22px;
    font-size: 40px;
    font-family: 'Dancing Script', cursive; }
    .mainNosotros__quienesSomos p span {
      color: aliceblue;
      background-color: brown;
      border-bottom-left-radius: 30%;
      border-top-right-radius: 30%; }

.mainNosotros__fotoPareja {
  display: flex;
  justify-content: center; }
  .mainNosotros__fotoPareja img {
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 100px 100px 20px 100px;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 30%; }

.mainNosotros__letraCancion h2 {
  margin: 30px 0px;
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
  background-color: black;
  font-style: oblique;
  border-radius: 5%;
  color: white; }

.pieDePagina h4 {
  font-family: 'Square Peg', cursive; }

.mainProductos {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 34px;
  margin-bottom: 70px;
  margin-top: 40px; }
  .mainProductos h2 {
    font-family: 'Indie Flower';
    font-size: 48px;
    font-weight: bold;
    color: #9c0b0b;
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
  .mainProductos .mainProductos__imagenes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 25px; }
  .mainProductos img {
    background-color: #5e5b5b;
    padding: 5px;
    width: 250px;
    height: 250px;
    column-gap: 20px;
    row-gap: 20px;
    border-radius: 50%;
    margin: 5px;
    padding: 6px; }
  .mainProductos h5 {
    margin: 17px;
    padding: 0px 55px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center; }
  .mainProductos button {
    margin: 0px 73px;
    display: inline-block;
    padding: 5px; }

.mainContacto {
  background-image: url(../multimedia/fondos/patronLogo.png); }
  .mainContacto .formulario {
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 50px; }
    .mainContacto .formulario h1 {
      background-color: #ac3737;
      color: #ffff;
      font-family: 'Square Peg', cursive;
      border-top-right-radius: 25%;
      border-bottom-left-radius: 25%;
      font-size: 24px;
      text-align: center;
      padding: 10px;
      margin-left: 10px; }
    .mainContacto .formulario .mensajeContacto {
      margin: 10px 0px 5px 0px; }
  .mainContacto form {
    background-color: beige;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 18px;
    font-family: 'Square Peg', cursive; }
    .mainContacto form label {
      margin-top: 10px; }

.botones {
  display: flex;
  align-items: center;
  justify-content: flex-start; }
  .botones input {
    margin: 20px;
    padding: 5px;
    column-gap: 35px;
    background-color: brown;
    color: #ffff;
    font-size: 12px;
    border-radius: 10%; }

.novedades .novedadesOfertas__titulo h1 {
  margin-left: 50px;
  font-size: 96px;
  color: red;
  font-family: 'Fascinate', cursive;
  position: absolute;
  animation-name: ofertasTitulo;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

@keyframes ofertasTitulo {
  0% {
    font-size: 96px; }
  50% {
    font-size: 80px; }
  100% {
    font-size: 90px; } }

.novedades div {
  text-align: center;
  margin: 25px; }
  .novedades div img {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-top: 130px;
    margin-left: 20px;
    border-radius: 10%; }

.muestraColor {
  animation-name: novedadesColor;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  flex-direction: column;
  align-items: center; }

@keyframes novedadesColor {
  0% {
    font-size: 90px; }
  30% {
    font-size: 80px; }
  70% {
    font-size: 80px; }
  100% {
    font-size: 96px; } }
  .muestraColor h3 {
    font-family: 'Fascinate', cursive;
    font-size: 48px;
    text-align: center;
    color: brown;
    margin-top: 30px; }
  .muestraColor img {
    width: 400px;
    height: 300px;
    margin: 80px 10px;
    border-radius: 10%;
    transform: rotate(352deg); }

.imgNovedades {
  margin: 100px; }

.mainGiftcard {
  display: flex;
  flex-direction: column; }
  .mainGiftcard .mainGiftcard__descripcion {
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mainGiftcard .mainGiftcard__descripcion span {
      background-color: brown;
      color: white;
      border-bottom-left-radius: 15%;
      border-top-right-radius: 15%; }
    .mainGiftcard .mainGiftcard__descripcion h1 {
      font-family: 'Indie Flower';
      color: brown;
      font-size: 48px; }
    .mainGiftcard .mainGiftcard__descripcion p {
      font-size: 24px;
      font-family: 'Courgette', cursive;
      margin: 50px;
      padding: 0px 150px;
      text-align: justify; }
    .mainGiftcard .mainGiftcard__descripcion button {
      padding: 5px 10px;
      background-image: linear-gradient(80deg, #9e8570, #b8a393, #d8c2b5, #b8a393, #9e8570);
      border-radius: 10%;
      font-size: 15px;
      font-family: 'Courgette', cursive; }
      .mainGiftcard .mainGiftcard__descripcion button a {
        list-style-type: none;
        text-decoration: none;
        color: black; }
  .mainGiftcard div {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .mainGiftcard div h5 {
      font-size: 48px;
      font-family: 'Indie Flower';
      font-style: bold;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 0px 10px;
      padding: 0px 40px; }
    .mainGiftcard div img {
      width: 500px;
      height: 300px;
      border-radius: 10%;
      margin: 30px 20px;
      padding: 10px; }

footer {
  background-image: linear-gradient(80deg, #9e8570, #b8a393, #d8c2b5, #b8a393, #9e8570);
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  footer h4 {
    font-family: 'Square Peg', cursive; }
  footer ul {
    text-decoration: none;
    list-style-type: none;
    padding: 5px 20px; }
  footer a {
    list-style-type: none;
    text-decoration: none;
    color: black; }
  footer .mapaSitio {
    display: flex;
    flex-direction: column;
    margin: 40px 0px;
    padding: 10px 40px; }
    footer .mapaSitio ul li {
      font-family: 'Indie Flower';
      display: flex;
      justify-content: flex-start;
      font-size: 17px;
      padding-right: 100px; }
  footer .pieDePagina__redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0px;
    column-gap: 10px; }
    footer .pieDePagina__redes ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex-wrap: wrap;
      column-gap: 8px; }
      footer .pieDePagina__redes ul li {
        font-family: 'Square Peg', cursive; }
    footer .pieDePagina__redes div {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
      footer .pieDePagina__redes div img {
        width: 45px;
        height: 45px; }
  footer .pieDePagina__copyright ul li {
    display: flex;
    text-align: center;
    color: black;
    margin: 40px 0px;
    font-size: 12px;
    font-family: 'Square Peg', cursive; }

@media screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center; } }

@media screen and (max-width: 768px) {
  .mainIndex h3 {
    font-size: 16px; }
  .mainIndex h5 {
    font-size: 12px; } }
