@charset "UTF-8";
.mainIndex {
  display: flex;
  flex-direction: column; }
  .mainIndex h3 {
    font-size: 24px; }
  .mainIndex h5 {
    font-size: 12px; }

h5 {
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

.miHeader section {
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .miHeader section h1 {
    color: beige;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 5px;
    padding: 8px;
    display: flex;
    justify-content: center; }
  .miHeader section img {
    margin: 20px;
    padding: 5px;
    border-radius: 50%;
    width: 150px;
    height: 164px;
    display: inline-block; }

.miHeader section nav div {
  background-color: #aaaaaa;
  align-items: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100vw; }
  .miHeader section nav div ul {
    list-style-type: none; }
    .miHeader section nav div ul li {
      font-size: 18px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      display: inline-block;
      position: relative;
      padding: 5px 10px; }
      .miHeader section nav div ul li li:hover {
        color: #26265f; }
      .miHeader section nav div ul li a {
        text-decoration: none;
        color: black; }

.mainIndex {
  background-image: url(../multimedia/fondos/patronChico.png);
  background-repeat: repeat;
  background-position: 100%;
  width: 100vw;
  height: auto; }
  .mainIndex .seccionPrincipal {
    display: flex;
    justify-content: center; }
    .mainIndex .seccionPrincipal article {
      width: 100vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-image: linear-gradient(45deg, #585858, #cec2c2, #f7f0f0);
      margin: 0px;
      padding: 35px; }
    .mainIndex .seccionPrincipal h3 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 25px;
      margin: 10px;
      padding: 5px; }
    .mainIndex .seccionPrincipal h5 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 18px;
      margin: 5px;
      padding: 5px; }
    .mainIndex .seccionPrincipal p {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: black;
      font-size: 16px;
      display: flex;
      flex-wrap: wrap;
      margin: 20px;
      padding: 5px 200px; }
  .mainIndex .mainCarousel {
    margin-top: 50px; }
  .mainIndex .finalDePagina {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 40px 0px; }
    .mainIndex .finalDePagina article {
      padding: 20px 10px; }
      .mainIndex .finalDePagina article h2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        font-style: bold; }
      .mainIndex .finalDePagina article iframe {
        margin: 30px 15px;
        width: 300px;
        height: 250px; }
      .mainIndex .finalDePagina article textarea {
        margin: 10px;
        padding: 15px; }

.miHeader section {
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .miHeader section h1 {
    color: beige;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 5px;
    padding: 8px;
    display: flex;
    justify-content: center; }
  .miHeader section img {
    margin: 20px;
    padding: 5px;
    border-radius: 50%;
    width: 150px;
    height: 164px;
    display: inline-block; }

.miHeader section nav div {
  background-color: #aaaaaa;
  align-items: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100vw; }
  .miHeader section nav div ul {
    list-style-type: none; }
    .miHeader section nav div ul li {
      font-size: 18px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      display: inline-block;
      position: relative;
      padding: 5px 10px; }
      .miHeader section nav div ul li li:hover {
        color: #26265f; }
      .miHeader section nav div ul li a {
        text-decoration: none;
        color: black; }

.mainNosotros h3 {
  font-size: 48px; }

.mainProductos {
  background-color: #ffffff;
  padding: 60px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 34px; }
  .mainProductos h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #a11f1f;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    animation-name: tituloTienda;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

@keyframes tituloTienda {
  0% {
    font-size: 25px; }
  10% {
    font-size: 30px; }
  20% {
    font-size: 35px; }
  30% {
    font-size: 40px; }
  40% {
    font-size: 45px; }
  50% {
    font-size: 50px; }
  60% {
    font-size: 45px; }
  70% {
    font-size: 35px; }
  80% {
    font-size: 30px; }
  90% {
    font-size: 25px; } }
  .mainProductos img {
    background-color: #5e5b5b;
    padding: 5px;
    width: 250px;
    height: 250px;
    column-gap: 20px;
    row-gap: 20px;
    border-radius: 50%;
    margin: 5px;
    padding: 6px; }

.mainContacto {
  background-image: url(../multimedia/fondos/patronLogo.png);
  background-color: cadetblue, transparent;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 10px 0px; }

.novedades h1 {
  font-size: 96px;
  display: flex;
  justify-content: center;
  color: red; }

.novedades div {
  text-align: center;
  margin: 20px; }
  .novedades div img {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 15px 10px;
    border-radius: 10%; }

.mainGiftcard {
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-bottom: 20px; }
  .mainGiftcard .cajaProductos {
    display: flex;
    flex-direction: column; }
  .mainGiftcard img {
    width: 500px;
    height: 300px; }
  .mainGiftcard h5 {
    margin: 15px;
    margin-top: 20px; }

footer {
  background-color: black; }
  footer .mapaSitio {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap; }
  footer .pieDePagina__copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #ffff; }
  footer .pieDePagina__redes {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  footer img {
    border-radius: 50%;
    width: 45px;
    height: 45px; }

@media screen and (max-width: 580px) {
  /*  main  */
  .mainIndex {
    background-image: linear-gradient(15deg, transparent, #c9c9c9, black); }
  .manosBarro {
    max-width: 200px;
    max-height: 222px; }
  .divMainIndex {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; }
  .presentación {
    margin: 5px; }
  .presentacion__titulo {
    text-align: center;
    font-size: 20px;
    margin-top: 10px; }
  .presentacion__subtitulo {
    text-align: start;
    font-size: 18px; }
  .presentacion__parrafo {
    text-align: justify;
    font-size: 15px;
    margin: 10px; }
  /*  productos  */
  .productos article {
    display: flex;
    flex-direction: column;
    align-items: center; }
  /*  xxxxx  */ }
