@import url("https://fonts.googleapis.com/css2? family= Square+Peg & display=swap");
.miHeader section {
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .miHeader section h1 {
    color: beige;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 5px;
    padding: 8px;
    display: flex;
    justify-content: center; }
  .miHeader section img {
    margin: 20px;
    padding: 5px;
    border-radius: 50%;
    width: 150px;
    height: 164px;
    display: inline-block; }

.miHeader section nav div {
  background-color: #aaaaaa;
  align-items: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100vw; }
  .miHeader section nav div ul {
    list-style-type: none; }
    .miHeader section nav div ul li {
      font-size: 18px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      display: inline-block;
      position: relative;
      padding: 5px 10px; }
      .miHeader section nav div ul li li:hover {
        color: #26265f; }
      .miHeader section nav div ul li a {
        text-decoration: none;
        color: black; }

.miHeader .navbar {
  padding: 0px; }

.mainIndex {
  background-image: url(../multimedia/fondos/patronChico.png);
  background-repeat: repeat;
  background-position: 100%;
  width: 100vw;
  height: auto; }
  .mainIndex .seccionPrincipal {
    display: flex;
    justify-content: center; }
    .mainIndex .seccionPrincipal article {
      width: 100vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-image: linear-gradient(45deg, #585858, #cec2c2, #f7f0f0);
      margin: 0px;
      padding: 35px; }
    .mainIndex .seccionPrincipal h3 {
      font-family: 'Acme', sans-serif;
      font-size: 25px;
      margin: 10px;
      padding: 5px; }
    .mainIndex .seccionPrincipal h5 {
      font-family: 'Acme', sans-serif;
      font-size: 18px;
      margin: 5px;
      padding: 5px; }
    .mainIndex .seccionPrincipal p {
      font-family: 'Indie Flower', cursive;
      color: black;
      font-size: 20px;
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 5px;
      padding: 5px 200px; }
      .mainIndex .seccionPrincipal p span {
        color: #ff0101;
        background-color: black;
        border-bottom-left-radius: 30%;
        border-top-right-radius: 30%;
        text-decoration: solid;
        letter-spacing: 5px; }
  .mainIndex .mainCarousel {
    margin-top: 50px; }
  .mainIndex .finalDePagina {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: stretch;
    margin: 40px 0px; }
    .mainIndex .finalDePagina article {
      padding: 20px 10px; }
      .mainIndex .finalDePagina article h2 {
        font-family: 'Acme', sans-serif;
        font-size: 25px;
        font-style: bold;
        color: #fdfdfd;
        padding-left: 30px; }
      .mainIndex .finalDePagina article iframe {
        margin: 30px 15px;
        width: 400px;
        height: 400px; }
      .mainIndex .finalDePagina article textarea {
        margin: 10px;
        padding: 15px;
        width: 400px;
        height: 400px; }

.miHeader section {
  background-color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .miHeader section h1 {
    color: beige;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 5px;
    padding: 8px;
    display: flex;
    justify-content: center; }
  .miHeader section img {
    margin: 20px;
    padding: 5px;
    border-radius: 50%;
    width: 150px;
    height: 164px; }

.miHeader section nav div {
  background-color: #aaaaaa;
  align-items: center;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100vw; }
  .miHeader section nav div ul {
    list-style-type: none; }
    .miHeader section nav div ul li {
      font-size: 18px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      display: inline-block;
      position: relative;
      padding: 5px 10px; }
      .miHeader section nav div ul li li:hover {
        color: #3753ac; }
      .miHeader section nav div ul li a {
        text-decoration: none;
        color: black; }

.mainNosotros {
  display: grid;
  grid-template-areas: "cancion foto " "cancion titulo " "cancion parrafo " "cancion video ";
  grid-template-columns: 15% 85%; }
  .mainNosotros .letraCancion {
    grid-area: cancion;
    transform: rotate(270deg);
    width: 100vw;
    height: 176vh;
    display: flex;
    justify-content: space-around;
    font-family: 'Source Code Pro', monospace; }
  .mainNosotros .fotoPareja {
    grid-area: foto;
    text-align: center; }
  .mainNosotros .quienesSomosTitulo {
    grid-area: titulo; }
  .mainNosotros .quienesSomosParrafo {
    grid-area: parrafo; }
  .mainNosotros .videoNosotros {
    grid-area: video; }

.mainNosotros img {
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
  padding-top: 35px; }

.mainNosotros__quienesSomos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .mainNosotros__quienesSomos h3 {
    font-size: 48px;
    font-family: 'Acme', sans-serif;
    align-self: center;
    padding: 40px 0px; }
  .mainNosotros__quienesSomos p {
    font-size: 50px;
    font-family: 'Square Peg', cursive; }
    .mainNosotros__quienesSomos p span {
      color: aliceblue;
      background-color: brown;
      border-bottom-left-radius: 30%;
      border-top-right-radius: 30%; }

.videoNosotros {
  margin: 30px 0px; }

.mainProductos {
  background-color: #ffffff;
  padding: 60px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 34px; }
  .mainProductos h2 {
    font-family: 'Square Peg', cursive;
    color: #9c0b0b;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    animation-name: tituloTienda;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }

@keyframes tituloTienda {
  0% {
    font-size: 25px; }
  10% {
    font-size: 30px; }
  20% {
    font-size: 35px; }
  30% {
    font-size: 40px; }
  40% {
    font-size: 45px; }
  50% {
    font-size: 50px; }
  60% {
    font-size: 45px; }
  70% {
    font-size: 35px; }
  80% {
    font-size: 30px; }
  90% {
    font-size: 25px; } }
  .mainProductos img {
    background-color: #5e5b5b;
    padding: 5px;
    width: 250px;
    height: 250px;
    column-gap: 20px;
    row-gap: 20px;
    border-radius: 50%;
    margin: 5px;
    padding: 6px; }

.mainContacto {
  background-image: url(../multimedia/fondos/patronLogo.png);
  background-color: cadetblue, transparent;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 10px 0px; }

.novedades h1 {
  font-size: 96px;
  display: flex;
  justify-content: center;
  color: red;
  font-family: 'Fascinate', cursive;
  margin-top: 20px; }

.novedades div {
  text-align: center;
  margin: 20px; }
  .novedades div img {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 15px 10px;
    border-radius: 10%; }

.mainGiftcard {
  display: flex;
  justify-content: center;
  margin-left: 60px;
  margin-bottom: 20px; }
  .mainGiftcard .cajaProductos {
    display: flex;
    flex-direction: column; }
  .mainGiftcard img {
    width: 500px;
    height: 300px; }
  .mainGiftcard h5 {
    margin: 15px;
    margin-top: 20px; }

footer {
  background-color: black; }
  footer ul {
    text-decoration: none;
    list-style-type: none; }
  footer a {
    list-style-type: none;
    text-decoration: none;
    color: #ffff; }
  footer .mapaSitio ul li {
    font-family: 'Square Peg', cursive;
    display: flex;
    justify-content: center;
    font-size: 20px; }
  footer .pieDePagina__redes
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    footer .pieDePagina__redes
ul div {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
      footer .pieDePagina__redes
ul div img {
        border-radius: 50%;
        width: 45px;
        height: 45px; }
  footer .pieDePagina__copyright ul li {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffff;
    margin-top: 40px;
    font-size: 15px; }

@media screen and (max-width: 1006px) {
  .finalDePagina {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center; } }

/* estilos de fuente    */
